NEXT_PUBLIC_SUPABASE_URL=https://ktnpkexlzxrnrlhjlnmo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt0bnBrZXhsenhybnJsaGpsbm1vIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MTI0MzcsImV4cCI6MjA2OTk4ODQzN30.LSELbkSGkttOnFCoBel6hDGuIDSHjisl-9aJz2DKQDU

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyD5lES72nwynLNFdaYog6lxVxrw_Lm72pI
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=mind-bloom-vdm4y.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=mind-bloom-vdm4y
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=mind-bloom-vdm4y.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=387530632714
NEXT_PUBLIC_FIREBASE_APP_ID=1:387530632714:web:f2f49dc8454a9a3fa8b9f3

GROQ_API_KEY=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